.wrpr{
    width: @wrapper-width;
    margin: 0 auto;
    box-shadow: @box-shadow;
}

.sctn{
    border-bottom: 1px solid @border-color;
    background-color: @color-white;
}

.algn{
    &-left{
        float: left;
    }
    &-rght{
        float: right;
    }
}

.clearfix {
    zoom: 1;
    &:before, &:after{
        display: block;
        visibility: hidden;
        overflow: hidden;
        width: 0;
        height: 0;
        content: '\0020';
    }
    &:after{
        clear: both;
    }
}

.txt{
    &--bold{
        font-weight: @bold;
    }
    &--red{
        color: @color-red;
    }
    &--grn{
        color: @color-green;
    }
    &--blk{
        color: @fg-color;
    }
}

.to-top{
    display: none !important;
}

.text-link{
    color: @color-blue;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

.hide{
    display: none;
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes zoomIn {
    0% { transform: scale(1,1); }
  100% { transform: scale(12,12); }
}
